.init {
    background-color: aliceblue;
    border-radius: 20px;
    position: initial;
    justify-content: center;

}

body {
    background-image: url('../img/fondo_blue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.button-init {
    background-color: #bc540c;
    color: white;
    border-radius: 5px;

}

.card-margin{
    margin-top: 230px;

}

.card-new{
    background-color: white;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    box-shadow: 5px 5px 15px #bc540c, 
              -5px -5px 15px rgba(255, 255, 255, 0.7);
    transition: transform 0.3s ease;
    transform:
    perspective(100em)
    rotateX(-1deg);
    animation: shadowBlink 3s infinite ease-in-out;

}

@keyframes shadowBlink {
    0% {
      box-shadow: 5px 5px 15px #bc540c, -5px -5px 15px rgba(255, 255, 255, 0.7);
    }
    50% {
      box-shadow: 5px 5px 25px #d67a38, -5px -5px 25px rgba(255, 255, 255, 0.9); /* Aumenta la intensidad */
    }
    100% {
      box-shadow: 5px 5px 15px #bc540c, -5px -5px 15px rgba(255, 255, 255, 0.7);
    }
  }

.icon {
    background-color: white;
}

main {
    background-image: url('../img/fondo_blue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.start{
    justify-content: start;
    background-position: initial;
    background-color: white;

}

.card-main{
    background-color: white;
    
}